* {
    box-sizing: border-box;
}

th {
    text-align: left;
}

th > p {
    font-style: italic;
    font-weight: normal;
}

.vi-ui.button.pro_button{
    font-weight: 300;
}
.wcpr-button-save-settings-container {
    position: sticky;
    bottom: 20px;
    z-index: 99;
    display: inline-block;
}
.kt-custom-coupon > td:first-child > p {
    font-style: italic;
    margin: 0;
    font-weight: normal;
}

#kt_status_page {
    background: white;
}

.status-ok {
    color: #8dff13;
}

#kt_status_page td:last-child {
    text-align: center;
}

.vi-ui.toggle.checkbox label {
    font-size: 14px;
}

.select2-search__field {
    width: 100% !important;
}

.iris-picker {
    position: absolute !important;
    z-index: 5;
}

.vi-ui.top.tabular.menu .item:hover {
    cursor: pointer;
}

.vi-ui.top.tabular.menu {
    margin-bottom: 0;
    border-bottom: 0;
}

.vi-ui.tab.segment {
    margin-top: 0;
    border-top: 0;
    border-radius: 0 0 3px 3px;
}

.wcpr-hidden-items {
    display: none;
}

/*verified badge*/
span.wcpr-verified-badge-wrap:before {
    margin: 0;
    font-size: 20px;
}

span.wcpr-verified-badge-wrap {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 5px;
}

.wcpr-verified-active-badge {
    background: lightgray;
}

.field.verified-type-wrap {
    max-width: 120px;
}

.vi-ui .button {
    height: auto !important;
}

/*preview emails*/
.preview-html-hidden {
    display: none !important;
}

.preview-emails-html-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
}

.preview-emails-html-container .preview-emails-html-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(1, 1, 1, 0.3);
}

.preview-emails-html-container .preview-emails-html {
    position: relative;
    z-index: 99;
    width: 50%;
    max-height: 90%;
    overflow: auto;
}
.wcpr-wrap-option-frontend-style {
    gap: 15px;
}

.wcpr-option-frontend-style {
    display: flex;
    position: relative;
}

.wcpr-option-frontend-style .kt-photo-reviews-setting {
    display: none !important;
}

.wcpr-option-frontend-style label ,
.wcpr-option-frontend-style a {
    border: 1px solid #C3C4C7;
    border-radius: 6px;
    padding: 10px 18px;
    background-color: #ffffff;
    color: #1D2327;
    cursor: pointer;
    text-decoration: none !important;
    outline: none !important;
}

.wcpr-option-frontend-style label.wcpr-option-active,
.wcpr-option-frontend-style a:hover,
.wcpr-option-frontend-style label:hover {
    background: #2185D0;
    border-color: #2185D0;
    color: #fff;
}

.wcpr-option-frontend-style .wcpr-tooltip-image {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    width: 250px;
    top: calc(100% + 10px);
    right: 50%;
    transform: translateX(50%);
    padding: 10px;
    z-index: 999;
    background-color: #ffffff;
    border-radius: 6px;
    box-shadow: 0 3px 15px -3px #656565;
    transition: ease 0.3s all;
}
.wcpr-option-frontend-style .wcpr-tooltip-image:after{
    content: '';
    position: absolute;
    top: -10px;
    right: 50%;
    transform: translateX(50%);
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid white;
    box-shadow: 0 10px 20px -8px #656565;
    -webkit-filter: drop-shadow(0px -5px 2px rgba(0, 0, 0, .2));
    filter: drop-shadow(0px -5px 2px rgba(0, 0, 0, .2));
}
.wcpr-option-frontend-style:hover .wcpr-tooltip-image{
    opacity: 1;
    visibility: visible;
}
.wcpr-option-frontend-style .wcpr-tooltip-image img{
    border: 1px solid #C3C4C7;
    width: 100%;
    height: auto;
    border-radius: 6px;
}